@page
@model RateMyAsthma.Pages.ACustomSearchModel
@{
    var City = HttpContext.Request.Query["City"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: lightsteelblue;
        }

        header {
            background-color: #123456;
            padding: 20px;
            text-align: center;
            font-size: 35px;
            color: white;
        }

        nav {
            float: left;
            width: 30%;
            background-color: lavender;
            padding: 20px;
            height: auto; 
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

        article {
            float: left;
            padding: 20px;
            width: 70%;
            background-color: #f1f1f1;
            height: 75vh;
           
        }

        section::after {
            content: "";
            display: table;
            clear: both;
        }

        footer {
            background-color: #123450;
            padding: 10px 0;
            text-align: center;
            color: white;
            clear: both;
        }

    
        form {
            margin-bottom: 10px; 
        }

        label {
            display: block; 
            margin-bottom: 5px; 
        }

        input[type="text"],
        button[type="button"] {
            width: calc(100% - 10px); 
            padding: 6px; 
            margin-bottom: 5px;
            box-sizing: border-box;
            font-size: 14px; 
        }
    </style>
</head>
<body>


    <section>


        <nav>
 
            <ul>
                <li></li>
            </ul>
            <form id="searchForm1">
                <h1 style="font-size: 20px;">Temp High Reviews:</h1>
                <label for="maxTemp1">Temp</label>
                <input type="text" id="maxTemp1" name="maxTemp1">
                <button type="button" onclick="submitForm()">Search</button>
            </form>
            <form id="searchForm2">
                <h1 style="font-size: 20px;">City-Season Reviews:</h1>
                <label for="season">Season:</label>
                <input type="text" id="season" name="season"><br>
                <label for="city">City:</label>
                <input type="text" id="city" name="city"><br>
                <button type="button" onclick="submitForm()">Search</button>
            </form>
            <form id="searchForm3">
                <h1 style="font-size: 20px;">Temp Range Reviews:</h1>
                <label for="minTemp">Min Temp</label>
                <input type="text" id="trminTemp" name="trminTemp">
                <label for="maxTemp">Max Temp</label>
                <input type="text" id="trmaxTemp" name="trmaxTemp">
                <button type="button" onclick="submitForm()">Search</button>
            </form>
        </nav>


        <article style="font-size: 40px;">

          <h1>Custom Search</h1> 
          <p>(ReviewPlaceHolder)</p>


        </article>

    

    </section>
    <footer>
        <a href="AMain" class="btn bg-warning text-white">Return</a>
    </footer>

</body>
</html>
