@page
@model RateMyAsthma.Pages.AMainModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel="icon" type="image/png" href="cloud.jpg" />
    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<!-- No alt text for the cloud as it is a flaticon used purely for design, its location can't be accessed/hovered over for a alt-text -->


<body>

    <div>
        <h1 class="title">Wellness in Weather</h1>
        <h2 class="title" style="font-size: 30px">Learn What Medical Conditions Are At Risk Due To The Weather</h2>
    </div>

    <div class="container">
        <h1 style="font-size:20px">First, select your location</h1>
        <form action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...
" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><iicon glyphicon-searc class="glyphh"></i></button>
                </div>
            </div>
        </form>
    </div>


    <table style="margin-top: 250px;">

        <thead>
            <tr>
                <th><a href="AFuture" class="btn bg-warning text-white" style="font-size:40px">Future Reports</a></th>
                <th><a href="AToday" class="btn bg-warning text-white" style="font-size:60px">Today's Report</a></th>
                <th><a href="AAbout" class="btn bg-warning text-white" style="font-size:40px">  Site Info/Help  </a></th>

            </tr>
        </thead>
    </table>

</body>
</html>

<!-- Fortnite -->
