@page
@model RateMyAsthma.Pages.AMainModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel="icon" type="image/png" href="cloud.jpg" />
    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<!-- No alt text for the cloud as it is a flaticon used purely for design, its location can't be accessed/hovered over for a alt-text -->


<body>

    <div style="position: fixed; top: 20%; left: 50%; transform: translate(-50%, -50%);">
        <h1 class="title">Rate My Asthma</h1>
        <h2 class="title" style="font-size: 30px">A community for people with Asthma to rate how bad their symptoms are</h2>
    </div>

    <div class="container">
        <h1 style="font-size:20px">Select your desired location then for when you would like to see the reviews</h1>
        <form action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search For A City...
" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><iicon glyphicon-searc class="glyphh">Browse By City</i></button>
                </div>
            </div>
        </form>
    </div>




    <div style="position: fixed; top: 80%; left: 50%; transform: translate(-50%, -50%);">
        <table>
            <thead>
                <tr>
                    <th><a href="AReview" class="btn bg-warning text-white" style="font-size:40px">Write a Review</a></th>
                    <th><a href="AToday" class="btn bg-warning text-white" style="font-size:40px">Today's Reviews</a></th>
                    <th><a href="APast" class="btn bg-warning text-white" style="font-size:40px">Past Reviews</a></th>
                </tr>
            </thead>
        </table>
    </div>


</body>
</html>

<!-- Fortnite -->
