@page
@model RateMyAsthma.Pages.AMainModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel="icon" type="image/png" href="cloud.jpg" />
    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

     <div style="position: fixed; top: 7%; left: 20%;">
        <img src="~/lib/cloud-computing.png" alt="A graphic of a cloud" style="width: 300px; height: 300px;">
    </div>
    <div style="position: fixed; top: 5%; right: 20%;">
        <img src="~/lib/sun.png" alt="A graphic of a cloud" style="width: 300px; height: 300px;">
    </div>
    <div style="position: fixed; top: 2%; left: 40%;">
        <img src="~/lib/cloud-computing.png" alt="A graphic of a cloud" style="width: 300px; height: 300px;">
    </div>

    <div style="position: fixed; bottom: 0; right: 35px;">
        <img src="~/lib/weather-news.png" alt="A graphic of a cloud" style="width: 150px; height: 150px;">
    </div>
    <div style="position: fixed; bottom: 0; left: 50px;">
        <img src="~/lib/cogwheel.png" alt="A graphic of a cloud" style="width: 150px; height: 150px;">
    </div>




    <div style="position: fixed; top: 20%; left: 50%; transform: translate(-50%, -50%);">
        <h1 class="title">Rate My Asthma</h1>
        <h2 class="title" style="font-size: 25px">A community for people with Asthma to rate how bad their symptoms are in a City, based on weather temperature</h2>
    </div>

    <div class="container">
        <h1 id="notification" style="position: fixed; display: none; top: 70%; left: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 25px;">

            <strong>For <span id="cityName"></span>, select the reviews you would like to see:</strong>
            <div>
                <span style="margin-right: 10px;"><a id="todayButton" href="#" class="btn bg-warning text-white" style="font-size:40px">This Week</a></span>
                <span><a id="pastButton" href="#" class="btn bg-warning text-white" style="font-size:40px">Past Reviews</a></span>
                <span style="margin-right: 10px;"><a href="AReview" class="btn bg-warning text-white" style="font-size:40px">Write a Review</a></span>
            </div>
        </h1>
        <form id="cityForm">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your City" name="search" id="searchBar" style="top: 20%">
                <div class="input-group-btn">
                    <a href="ABrowse" class="btn bbg-warning">List of available cities</a>
                </div>
            </div>
        </form>

        <div style="position: fixed; bottom: 35px; left: 10px;">
            <a href="AAbout" class="btn bg-warning text-white" style="font-size:25px">Questions/About</a>
        </div>
        <div style="position: fixed; bottom: 40px; right: 10px;">
            <a href="ACustomSearch" class="btn bg-warning text-white" style="font-size:25px">Custom Search</a>
        </div>
    </div>

    <script>
        var searchBar = document.getElementById('searchBar');
        var notification = document.getElementById('notification');
        var cityNameSpan = document.getElementById('cityName');

        searchBar.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                var city = searchBar.value.trim();
                cityNameSpan.textContent = city;

                document.getElementById('todayButton').href = 'AToday?City=' + encodeURIComponent(city);
                document.getElementById('pastButton').href = 'APast?City=' + encodeURIComponent(city);

                notification.style.display = 'block';
            }
        });
    </script>
</body>
</html>
