@page
@model RateMyAsthma.Pages.ATodayModel
@{
}
<!DOCTYPE html>
<html lang="en" style="zoom: 1.5;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health condition warnings</title>
    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>
    <div class="background">
        <div class="title">
            <h1 style="font-size: 36px;">Health condition warnings</h1>
        </div>
        <div class="card">
            <h2>Weather Forecast</h2>
        </div>
        <div class="card">
            <h2>Weather Summary</h2>
        </div>
        <div class="card">
            <ol>
                Health Conditions at Risk
                <li>Asthma</li>
                <li>High Blood Pressure</li>
                <li>Anxiety... etc</li>
            </ol>
        </div>
        <div class="card">
            <h2>How to prepare</h2>
        </div>
        <div class="return-button">
            <a href="AMain" class="btn bg-warning text-white"> Return </a>
        </div>
    </div>

</body>
</html>

