@page
@model RateMyAsthma.Pages.ATodayModel
@{
    var City = HttpContext.Request.Query["City"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Template</title>
    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        h2 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
        }

        #reviewList {
            font-size: 50px;
            margin-top: 50px;
            text-align: center;
            list-style-type: none;
        }

        .rating {
            font-size: 20px;
        }

        footer {
            text-align: center;
            margin-top: auto;
            padding: 20px 0;
        }

        body, ul {
            margin: 0;
            padding: 0;
        }

        ul {
            position: fixed;
            left: -425px;
            top: 440px;
            transform: translateY(-50%);
            list-style-type: none;
            font-size: 35px;
        }

        li {
            margin-bottom: 50px;
        }

        .left-color {
            position: fixed;
            top: -200px;
            left: -500px;
            width: 370px;
            height: 1100px;
            background-color: lavenderblush;
            z-index: -1;
        }

        .weather-info {
            font-size: 25px;
            color: #123450;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div style="position: fixed; top: -10px; right: 450px;">
        <img src="~/lib/cloud-computing.png" alt="A graphic of a cloud" style="width: 300px; height: 300px;">
    </div>
    <div style="position: fixed; top: 40px; right: 750px;">
        <img src="~/lib/cloud-computing.png" alt="A graphic of a cloud" style="width: 300px; height: 300px;">
    </div>
    <div style="position: fixed; top: 10px; left: 500px;">
        <img src="~/lib/cloud-computing.png" alt="A graphic of a cloud" style="width: 300px; height: 300px;">
    </div>

    <div style="position: fixed; top: 140px; left: 50%; transform: translate(-50%, -50%);">
        <h1 class="title" style="font-size: 60px;">This week's forecast and reviews for <span id="cityName" class="title" style="visibility: visible; font-size: 60px;"></span></h1>


        <div style="position: absolute; top: 260px; left: 50%; transform: translateX(-50%);">
            <div class="title">
                <p class="weather-info">
                    <span id="cityComment" style="display:inline-block;"></span>
                    <span style="color: #123450;"> | Rating: </span>
                    <span id="cityRating" style="display:inline-block;"></span>
                    <span style="color: #123450;">| Temp: 67 </span>
                    <span id="cityTemp" style="display:inline-block;"></span>
                    <span style="color: #123450;">| Date:</span>
                    <span id="cityDate" style="display:inline-block;"></span>
                </p>
                <p class="weather-info">Not too bad, a bit windy at times. | Rating: 7 | Temp: 69°F | Date: 4/4/2024</p>
                <p class="weather-info">Sunny and pleasant, perfect for outdoor activities. | Rating: 9 | Temp: 70°F | Date: 4/5/2024</p>
                <p class="weather-info">Cloudy with occasional showers, bring an umbrella! | Rating: 6 | Temp: 68°F | Date: 4/6/2024</p>
               
 
            </div>
        </div>



        <script type="module">
            displayCityReviews('@City');
        </script>

        <div class="left-color">
            <ul>
                <li style="font-size:25px;"><strong><h1>Average Dailies</h1></strong></li>
                <li>Monday 66°F</li>
                <li>Tuesday 65°F</li>
                <li>Wednesday 63°F</li>
                <li>Thursday 69°F</li>
                <li>Friday 71°F</li>
                <li>Saturday 67°F</li>
                <li>Sunday 65°F</li>
            </ul>
        </div>
    </div>

    <footer style="position: fixed; bottom: 20px; right: 20px; text-align: center;">
        <a href="AMain" class="btn bg-warning text-white">Return</a>
    </footer>

</body>
</html>
