@page
@model RateMyAsthma.Pages.ATodayModel
@{
    var City = HttpContext.Request.Query["City"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Template</title>
    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: lightsteelblue;
        }

        header {
            background-color: #123456;
            padding: 20px;
            text-align: center;
            font-size: 35px;
            color: white;
        }

        nav {
            float: left;
            width: 30%;
            background-color: lavender;
            padding: 20px;
            height: 75vh;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

        article {
            float: left;
            padding: 20px;
            width: 70%;
            background-color: #f1f1f1;
            height: 75vh;
        }

        section::after {
            content: "";
            display: table;
            clear: both;
        }

        footer {
            background-color: #123456;
            padding: 10px 0;
            text-align: center;
            color: white;
            clear: both;
        }
    </style>
</head>
<body>


    <section>
        <nav>
            Todays Weather
            <ul>
                <li>Placement</li>
            </ul>
        </nav>

        <article>
            <h1>Todays reviews for (City)</h1>


            <h2 id="City" style="visibility:hidden;"></h2>
            <script type="module">
                displayCityReviews(`@City`)
            </script>


        </article>
    </section>

    <footer>
        <a href="AMain" class="btn bg-warning text-white">Return</a>
    </footer>

</body>
</html>
