@page
@model RateMyAsthma.Pages.ATodayModel
@{
}
<!DOCTYPE html>
<html lang="en" style="zoom: 1.5;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/site.css">

</head>

<body>

    <header style="padding: 20px; display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h1 style="font-size: 40px; font-family: Bahnschrift; margin: 0;">Asthma Reviews for (CityName)</h1>
            <h2 style="font-size: 40px; font-family: Bahnschrift; margin: 0;">(Date)</h2>
        </div>
        <div style="margin-left: auto;">
            <a href="AMain" class="btn bg-warning text-white">Return</a>
        </div>
    </header>





        <div class="rectangle">
            <h2>WeatherForecastPH</h2>
        </div>
 
        


        <div class="rectangle taller">
            <h2>ReviewlistPH</h2>
        </div>

</body>
</html>

