@page
@model RateMyAsthma.Pages.ATodayModel
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Template</title>
    <link href='~/css/bootstrapMorph.min.css' rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .horizontal-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }

            .horizontal-list li {
                display: inline-block;
                margin: 0 10px;
            }

                .horizontal-list li span {
                    display: block;
                    font-size: 14px;
                    margin-top: 5px;
                }

                .horizontal-list li a {
                    text-decoration: none;
                    color: #333;
                    display: block;
                    font-size: 16px;
                }

        h2 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
        }

        #reviewList {
            font-size: 50px;
            margin-top: 50px;
            text-align: center;
            list-style-type: none;
        }

        .rating {
            font-size: 20px;
        }

        footer {
            text-align: center;
            margin-top: auto;
            padding: 20px 0;
        }
    </style>
</head>
<body>
    <div style="position: fixed; top: 20%; left: 50%; transform: translate(-50%, -50%);">
        <h1 class="title" style="font-size: 60px;">Today Reviews For (City)</h1>
        <h2>Weather Forecast For This Week</h2>
        <ul class="horizontal-list">
            <li>
                <a>Monday</a>
                <span>25°C</span>
            </li>
            <li>
                <a>Tuesday</a>
                <span>24°C</span>
            </li>
            <li>
                <a>Wednesday</a>
                <span>26°C</span>
            </li>
            <li>
                <a>Thursday</a>
                <span>27°C</span>
            </li>
            <li>
                <a>Friday</a>
                <span>26°C</span>
            </li>
            <li>
                <a>Saturday</a>
                <span>27°C</span>
            </li>
            <li>
                <a>Sunday</a>
                <span>25°C</span>
            </li>
        </ul>
    </div>
    <ol id="reviewList">
        <ul>
            <li>R1<span class="rating">Rating 1</span></li>
            <li>R2<span class="rating">Rating 2</span></li>
            <li>R3<span class="rating">Rating 4</span></li>
        </ul>

    </ol>
    <footer>
        <a href="AMain" class="btn bg-warning text-white">Return</a>
    </footer>
</body>
</html>

