@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>


<h2 style="text-align: center"><a href="AMain">Our Home Page</a></h2>
